%p#notice= notice
%p
  %strong Name:
  = @store.name
%p
  %strong Phone:
  = @store.phone
%p
  %strong Status:
  = @store.status_id
%p
  %strong Description:
  = @store.description
= link_to 'Edit', edit_store_path(@store)
|
= link_to 'Back', stores_path
